<% form_tag :action => 'create' do |f | -%>
  <div class='blast-main-form'>
  <div class="new-view blast-view view">
  <div class="messages-container" id="blast-create--messages"/>
      <h4>Rename Sequences in Database</h4>

      <h2 style="color:red;"><%= flash[:errors] %></h2>

      <ol class="form">
        <li class="form-element">
          <dl class="">
            <dt>
              <label >Database</label>
            </dt>
            <dd>
              <%= select_tag  :biodatabase_id, options_for_select(biodatabase_options,
                @biodatabase ?   @biodatabase.id : nil), :class=>'text-input' %>
            </dd>
        </dl>  </li>
        <li class="form-element">
          <dl class="">
            <dt>
              <label>New Sequence Prefix</label>
            </dt>
            <dd>
              <%= text_field_tag :prefix,params[:prefix], :class => 'text-input'  %>
              <span class="description">Required.</span>
            </dd>
        </dl>  </li>
      </ol>

    </div>
    <p class="form-footer">
      <%= submit_tag 'Rename Sequences', :class => 'submit' %>
      <a class="cancel" href="/biosequences">Cancel</a>
    </p>

  </div>
  </div>

<% end -%>
