<div id="blast-programs"  class="x-hide-display">
  <dl>
    <dt>blastn</dt>
    <dd>Compares a nucleotide query sequence against a nucleotide sequence database. <br />
      <b>Test Database</b>: Nuclueotides <br />
      <b>Target Database</b>: Nuclueotides
    </dd>
    <dt>blastp</dt>
    <dd>Compares an amino acid query sequence against a protein sequence database. <br />
      <b>Test Database</b>: Proteins <br />
      <b>Target Database</b>: Proteins
    </dd>
    <dt>blastx</dt>
    <dd>Compares a nucleotide query sequence translated in all reading frames against a protein sequence database. <br />
      <b>Test Database</b>: Nucleotides <br />
      <b>Target Database</b>: Proteins
    </dd>
    <dt>tblastn</dt>
    <dd>Compares a protein query sequence against a nucleotide sequence database dynamically translated in all reading frames. <br />
      <b>Test Database</b>: Proteints <br />
      <b>Target Database</b>: Nucleotides
    </dd>
    <dt>tblastx</dt>
    <dd>Compares the six-frame translations of a nucleotide query sequence against the six-frame translations of a nucleotide sequence database.<br />
      <b>Test Database</b>: Nuclueotides <br />
      <b>Target Database</b>: Nuclueotides
    </dd>
  </dl>
</div>