<html>
  <head>
    <title>BiococonutIsland :: Workbench </title>
    <%= stylesheet_link_tag "/javascripts/ext-3.0.0/resources/css/ext-all.css",
      "ext-override",
      "ncbi-style",
      "FileUploadField"%>
    <%= javascript_tag "var FORM_AUTH_TOKEN = '#{form_auth_token}';" %>
    <%= javascript_include_tag "ext-3.0.0/adapter/ext/ext-base",
      "ext-3.0.0/ext-all" ,
      "ext-3.0.0/FileUploadField" ,
      "workbench/base",
      "workbench/database-group-tree",
      "workbench/App",
      "workbench/bio-grids",
      "workbench/bio-property-grid",
      "workbench/RowEditor",
      "workbench/biosequence-view-panel",
      "workbench/bio-form-windows"
  %>

    <script type="text/javascript">
      /*!
       * Ext JS Library 3.0+
       * Copyright(c) 2006-2009 Ext JS, LLC
       * licensing@extjs.com
       * http://www.extjs.com/license
       */

      Ext.onReady(function(){
        var button = Ext.get('show-btn');

        button.on('click', Ext.bio.showFastaFileUploadWindow);
      });
    </script>
  </head>

  <body>
    <h1>File Upload Field</h1>
    <p>This example shows how to create a very simple modal Window with "autoTabs" from existing markup.</p>
    <input type="button" id="show-btn" value="Hello World" /><br /><br />


  </body>

</html>
