<html>
<head>
  <title>BiococonutIsland :: Workbench </title>
  <%= stylesheet_link_tag "/javascripts/ext-3.0.0/resources/css/ext-all.css",
    "ext-override",
    "ncbi-style"
%>

  <%= javascript_tag "var FORM_AUTH_TOKEN = '#{form_auth_token}';" %>

  <%= javascript_include_tag "ext-3.0.0/adapter/ext/ext-base",
    "ext-3.0.0/ext-all" ,
    "workbench/base",
    "workbench/ext-example"
%>
</head>
<body>
  <a href ="#" onclick="Ext.bio.notifier.show('You kill me', 'Hi Kevin');">Slide with ExtJs</a>
</body>
</html>