<html>
  <head>
    <title>BiococonutIsland :: Workbench </title>
    <%= stylesheet_link_tag "/javascripts/ext-3.0.0/resources/css/ext-all.css",
      "ext-override",
      "ncbi-style" %>

    <%= javascript_tag "var FORM_AUTH_TOKEN = '#{form_auth_token}';" %>

    <%= javascript_include_tag "ext-3.0.0/adapter/ext/ext-base",
      "ext-3.0.0/ext-all",
      "workbench/base",
      "workbench/bio-notifier"
  %>

    <!-- GC -->
    <!-- LIBS -->
    <!-- ENDLIBS -->


    <!-- EXAMPLES -->

    <script type="text/javascript">

      Ext.namespace('Ext.workbenchdata');
      Ext.onReady(function(){
        <%= render :partial => "layouts/user_job_notification" %>
      });
    </script>
  </head>
  <body>
    HEY KEVIN
  </body>
</html>
