<div id="jobs-sub-nav">
  <div id="jobs-sub-nav-menu-page">
    <ul>
      <li><%= link_to "<span>Running Jobs</span>", jobs_running_jobs_path %></li>
      <li><%= link_to "<span>Queued Jobs</span>", jobs_queued_jobs_path %></li>
      <li><%= link_to "<span>Failed Jobs</span>", jobs_failed_jobs_path %></li>
      <li><%= link_to "<span>Job Log</span>", jobs_job_logs_path %></li>
    </ul>
  </div><!--menu-page-->
</div><!--wrapper-menu-page-->

