

h1.north-header{
  margin:5px;
  font-size:130%;
} 

h1.north-header a:hover {
  text-decoration: underline;
  color: #0000CC;
}
h1.north-header a {
  color: #083772;
}
h1.north-header a:link {
  color: #083772;
  text-decoration: none;
}

h1.north-header a:visited {
  color: #1e4e8f;
  text-decoration: none;
}

h1.north-header a:hover {
  text-decoration: underline;
  color: #0000CC;
}

h1.north-header a:active {
  text-decoration: none;
  color: #1e4e8f;
}

.settings { background-image:url(/images/folder_wrench.png); }
.nav { background-image:url(/images/folder_go.png); }
.x-delete { background-image:url(/images/delete.png ); }

html, body {
  font:normal 12px verdana;
  margin:0;
  padding:0;
  border:0 none;
  overflow:hidden;
  height:100%;
}
p {
  margin:5px;
}

.x-tree-delete {
  background-image: url(/images/delete.gif) !important;
  background-repeat: no-repeat;
}

#msg-div {
  position:absolute;
  left:35%;
  top:10px;
  width:250px;
  z-index:20000;
}