.north-header {
  font-size:130% !important;
  font-weight:bold !important;
  color: #0000CC;
  margin:5px;
} 

.north-header a:hover {
  text-decoration: underline;
  color: #0000CC;
}
.north-header a {
  color: #083772;
}
.north-header a:link {
  color: #083772;
  text-decoration: none;
}

.north-header a:visited {
  color: #1e4e8f;
  text-decoration: none;
}

.north-header a:active {
  text-decoration: none;
  color: #1e4e8f;
}


html, body {
  font:normal 12px verdana;
  margin:0;
  padding:0;
  border:0 none;
  height:100%;
}
p {
  margin:5px;
}

.x-tree-delete {
  background-image: url(/images/delete.gif) !important;
  background-repeat: no-repeat;
}

#msg-div {
  position:absolute;
  left:35%;
  top:10px;
  width:250px;
  z-index:20000;
}

.image_add {background-image:url('/images/exticons/image_add.png') !important;}
.grid_icon {background-image:url('/images/exticons/grid.png') !important;}
.cog_edit {background-image:url('/images/exticons/cog_edit.png') !important;}
.book {background-image:url('/images/exticons/book.png') !important;}
.settings { background-image:url(/images/exticons/folder_wrench.png); }
.nav { background-image:url(/images/exticons/folder_go.png); }
.x-delete { background-image:url(/images/exticons/delete.png ); }
.clustalw { background-image:url(/images/exticons/siblogo16.png); }
.fasta-file-folder { background-image:url(/images/exticons/folder_add_sm.png); }
.upload-icon { background: url('/images/exticons/image_add.png') no-repeat 0 0 !important; }
.sequence-icon {background-image:url('/images/new_fasta.png') !important;}
#top-menu {
  border: 5px;
}

#top-menu-toolbar {
  margin-left:2.5%;
  margin-right:2.5%;
  background-image:url('/images/xxxxx.png') !important ;
  background-color:#FFF !important ;
}