/* Css originally by mejobloggs  Design by Aran @ stuio7designs.com  Please email me if you use this, as I would love to see how it is being used, also you can join my linkshare to help you with your google ranking */

body {
	font-family: trebuchet ms, verdana, arial, tahoma;
	font-size: 90%;
/*	color: #888; */
	background-color: white;
  /* Commented out by kengilsh */
/*	line-height: 180%; */
	margin: 0;
	padding: 0;
/*	text-align: center; */
}

/* Set the page width here */
#menu-top, #header, #wrapper-content, #wrapper-footer {
	width: 95%;
	margin: 0 auto;
	text-align: left;
}

#menu-top {
	background: white url('/images/bg02-white-right.png') no-repeat right top;
	overflow: hidden;
}

#menu-top ul {
	background: transparent url('/images/bg02-white-left.png') no-repeat left top;
	margin:0;
	padding: 1em 0 0 0;
	list-style: none;
	font-size: 85%;
	float: left;
	padding-left: 20px;
}

#menu-top li {
	display: inline;
	float: left;
}


#menu-top a {
	float: left;
	background:url(/images/menuleft.png) no-repeat left top;
	margin:0;
	padding:0 0 0 4px;
	text-decoration:none;
	line-height: 1.5em;
}

#menu-top a span {
	background: transparent url(/images/menuright.png) no-repeat right top;
	padding:5px 15px 4px 6px;
	color:#5b8fbe;
	display: block;
	float: left;
	cursor: pointer; /* IE doesnt display the hand when you roll over the link for some reason. This fixes it */
}
#menu-top a.menu-link {
	background: transparent url(/images/menuright.png) no-repeat right top;
	padding:5px 15px 4px 6px;
	color:#5b8fbe;
	display: block;
	float: left;
	cursor: pointer; /* IE doesnt display the hand when you roll over the link for some reason. This fixes it */
}
#menu-top a.menu-link:hover  {	background-position:100% -42px; }


#menu-top a:hover { background-position:0% -42px; }
#menu-top a:hover span {	background-position:100% -42px; }
.nav .sub ul {
	/*width: 648px;*/
	height: 38px;
	float: left;
	margin: 0;
	padding-top: 3px;
	list-style: none;
	font-size: 15px;
}
.nav .sub li {
	float: left;
	padding: 0 7px;
	background: url(images/split.png) no-repeat right center;
	position: relative;
	z-index: 1;
}

.nav li:hover .sub,
.nav li.hover .sub {
  display:block;
}
.nav li .sub {
  display: none;
  position: absolute;
  top: 27px;
  left: 6px;
  background: url(images/submenu_top.png) no-repeat;
  width: 186px;
  padding-top: 9px;
}


#wrapper-header {	background: transparent url('/images/bg.png') top center repeat-x; }

#header { background: #eee  no-repeat center top; }

#wrapper-header2 { background: transparent url('/images/bg02-blue-left.png') top left no-repeat; }

#wrapper-header3 { background: transparent url('/images/bg02-blue-right.png') top right no-repeat; }

#header h1 {
	margin: 0 20px;
	padding: 0;
/*	height: 192px; */
	line-height: 3em;
	color: #ccc;
	font-size: 130%;
}

#wrapper-content { background: white url('/images/bg02-white-left.png') no-repeat left top; }

* html #wrapper-content { height: 1%; }

#content {
	background: transparent url('/images/bg02-white-right.png') no-repeat right top;
	padding: 5px 20px 5px 20px;
}
#user-profile-content {
  padding: 0px 245px 0px 10px;
}

#wrapper-menu-page {
	float: right;
	width:180px;
	margin: 20px 30px 3em 2em;
	background: transparent url('/images/menu.png') no-repeat;
	text-align: center;
	line-height: 140%;
	font-family:"Lucida Grande","Lucida Sans Unicode",arial,sans-serif;
}

* html #wrapper-menu-page { margin-right: 15px; }

#menu-page { padding-top: 5px; }

#menu-page ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 90%;
}

#menu-page h3 {
	font-size: 75%;
	text-transform: uppercase;
	margin: 1em 0 0.3em 0;
	color: #5b8fbe;
	font-weight: normal;
	letter-spacing: 0.15em;
}

#menu-page a:link, #menu-page a:visited { color: #888; }
#menu-page a:hover { color: #5b8fbe; }

#wrapper-footer {
	color: #888;
	margin-top: 50px;
	text-align: center;
}

#footer {
	margin: 0 20px;
	background-color: #e5f0fc;
	border: 1px solid #ccc;
	border-bottom: 0;
	clear: both;
}

h2 { font-size: 110%; }
h3 { font-size: 100%; }

a:link, a:visited { color: #5b8fbe; text-decoration: none; }
a:hover{ color: #666; text-decoration: none; }

/* kenglish customization begins here */
.clearfix {
  /*display:block; */
}

#user-profile-info {
    position:relative;
}
#edit-profile-link {
    position:absolute;
    right:5px;
    text-align:right;
    top:5px;
}
#edit-profile-link a {
    float: right;
    font: bold 14px arial;
    letter-spacing: -1px;
    text-decoration: none;
    padding: 1px 2px;
    white-space: nowrap;
    margin-left: 5px;
    background-position: 1px 50%;
    background-repeat: no-repeat;
}



dl.user-profile-fields {
}

dl.user-profile-fields dt {
  float:left;
  font-weight:bold;
  margin-right:10px;
  padding-left:5px;
  width:100px;
}
dl.user-profile-fields dt.form-field {
  float:left;
  font-weight:bold;
  margin-right:10px;
  padding-left:5px;
  width:150px;
}


dl.user-profie-fields dd {
}
.nav li:hover .sub,
.nav li.hover .sub {
	display:block;
}
.nav li .sub {
	display: none;
	position: absolute;
	top: 27px;
	left: 6px;
	background: url(images/submenu_top.png) no-repeat;
	width: 186px;
	padding-top: 9px;
}

.nav li a {
  display: block;
  line-height: 38px;
  overflow: hidden;
  float: left;
}

.nav .btm-bg {
	background: url(images/submenu_bottom.png) no-repeat;
	width: 205px;
	height: 9px;
	overflow: hidden;
	clear: both;
}
.blast-sub-form-table th {
  background-color:#555555;
  font-family:arial,sans-serif;
  font-size:11px;
  font-size-adjust:none;
  font-stretch:normal;
  font-style:normal;
  font-variant:normal;
  font-weight:bold;
  line-height:normal;
  color:#FFFFFF;
  text-align:right;
  padding-right:10px;
  padding-left:25px;
}
.blast-sub-form-table td {
  font-family:arial,sans-serif;
  font-size:11px;
  font-size-adjust:none;
  font-stretch:normal;
  font-style:normal;
  font-variant:normal;
  font-weight:bold;
  line-height:normal;
  color:#FFFFFF;
  padding-right:10px;
}
.blast-main-form li.form-element {
clear: both;
padding-top: 2px;
}

.blast-main-form li.form-element dt {
float: left;
width: 12em;
padding: 6px 0;
}

.blast-main-form li.form-element dd {
float: left;
}

.blast-main-form ol {
clear: both;
float: none;
padding: 2px;
margin-left: 5px;
list-style: none;
}

.blast-main-form input.text-input,
.blast-main-form select {
  font: bold 16px arial;
  letter-spacing: -1px;
  border: solid 1px #1F7F00;
}
.blast-main-form input.text-input {
padding: 2px;
}
.blast-main-form .description {
   color: #999;
   font-size: 10px;
   margin-left: 5px;
}
.blast-main-form select:focus,
.blast-main-form input.text-input:focus {
background-color: #ffc;
}

.blast-main-form p.form-footer {
clear: both;
}

.blast-main-form a.cancel,
.blast-main-form p.form-footer a {
font: bold 14px arial, sans-serif;
letter-spacing: 0;
}

.blast-main-form label {
font: normal 11px verdana, sans-serif;
color: #555;
}

.blast-main-form .view {
background-color: #E5F0FC;
padding: 4px;
border: solid 1px ;
}

.blast-main-form h4,
.blast-main-form h5 {
padding: 2px;
margin: 0;
text-transform: none;
color: #5B8FBE;
letter-spacing: -1px;
font: bold 16px arial;
}

/* Set the page width here */
#jobs-sub-nav {
	text-align: left;
}

#jobs-sub-nav {
	background: white url('/images/bg02-white-right.png') no-repeat right top;
	overflow: hidden;
}

#jobs-sub-nav ul {
	background: transparent url('/images/bg02-white-left.png') no-repeat left top;
	margin:0;
	list-style: none;
	font-size: 85%;
	float: left;
	padding-left: 20px;
}

#jobs-sub-nav li {
	display: inline;
	float: left;
}


#jobs-sub-nav a {
	float: left;
	margin:0;
	padding:0 0 0 4px;
	text-decoration:none;
	line-height: 1.5em;
	background:url(/images/menuleft.png) no-repeat left top;
}

#jobs-sub-nav a span {
	padding:5px 15px 4px 6px;
	color:#5b8fbe;
	display: block;
	float: left;
	cursor: pointer; /* IE doesnt display the hand when you roll over the link for some reason. This fixes it */
}
#jobs-sub-nav a span.selected {
	color:#000000;
}


#jobs-sub-nav a.menu-link {
	padding:5px 15px 4px 6px;
	color:#5b8fbe;
	display: block;
	float: left;
	cursor: pointer; /* IE doesnt display the hand when you roll over the link for some reason. This fixes it */
}
#jobs-sub-nav a.menu-link:hover  {	background-position:100% -42px; }


#jobs-sub-nav a:hover { background-position:0% -42px; }
#jobs-sub-nav a:hover span {	background-position:100% -42px; }
.nav .sub ul {
	/*width: 648px;*/
	height: 38px;
	float: left;
	margin: 0;
	padding-top: 3px;
	list-style: none;
	font-size: 15px;
}
