<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Array Grid Example</title>
    <link rel="stylesheet" type="text/css" href="/javascripts/ext-3.0.0/resources/css/ext-all.css" />
    <link rel="stylesheet" type="text/css" href="/javascripts/ext-3.0.0/examples/grid/grid-examples.css" />

    <link rel="stylesheet" type="text/css" href="/javascripts/ext-3.0.0/examples/shared/examples.css" />
    <script type="text/javascript" src="/javascripts/ext-3.0.0/adapter/ext/ext-base.js"></script>

    <script type="text/javascript" src="/javascripts/ext-3.0.0/ext-all.js"></script>
    <script type="text/javascript" src="/javascripts/ext-3.0.0/examples/grid/array-grid.js"></script>

</head>
<body>
<script type="text/javascript" src="/javascripts/ext-3.0.0/examples/shared/examples.js"></script><!-- EXAMPLES -->
<h1>Array Grid Example</h1>
<p>This example shows how to create a grid from Array data.</p>
<p>Note that the js is not minified so it is readable. See <a href="/javascripts/ext-3.0.0/examples/grid/array-grid.js">array-grid.js</a>.</p>

<div id="grid-example"></div>
</body>
</html