<div id="bodyblock" align="right">
  <div id="l-col" align="center">
    <h4 align="center">Menu</h4>
    <%= link_to_unless_current "My Profile", home_path %> <a href="#">My Profile</a><br />
    <a href="#">My Activities</a><br />
    <a href="#">My Files</a><br />
    <a href="#">Help</a><br />
    <br />
    </div>
  <div id="cont">

<h3 align="center"> Welcome <%=current_user.full_name %>,</h2>
    <p>

    <br />
    <p style="font-weight: bold;">Filler Content</p>
    <p lang="ga">Dáig alta in mac sin i tig a athar &amp; a mathar
      icon airdig i m-Maig Muirthemne, ocus adfeta dó scéla na maccaemi
      i n-Emain. Dáig is amlaid domeill Conchobar in rigi, o ro gab
      rígi in rí, .i. mar atraig fóchetóir césta &amp; cangni in
      choicid d'ordugud. In lá do raind i trí asa athlil: cetna trian
      de fóchetóir ic fegad na maccaem ic imbirt chless cluchi &amp;
      immanae, in trian tanaise dond ló ic imbirt brandub &amp;
      fidchell, &amp; in trian dedenach ic tochathim bíd &amp; lenna,
      con-dageib cotlud for cách, aes cíuil &amp; airfitid dia thalgud
      fri sodain. Ciataim ane ar longais riam reme dabiur bréthir, ar
      Fergus, na fuil in hErind no i n-Albain óclach macsamla
    Conchobair.</p>
    <p lang="ga">Ocus adfeta don mac sin scéla na maceáem &amp; na
      maccraide i n-Emain, &amp; radis in mac bec ria mathair ar co
      n-digsed dá chluchi do chluchemaig na Emna. Romoch duitsiu sain a
      meic bic, ar a mathair, co n-deoch anruth do anrothaib. Ulad lett
      no choimthecht ecin do chaimthechtaib Conchobair, do chor th'
      aesma &amp; t'imdegla for in maccraid. Cían lim-sa di sodain a
      mathair, ar in mac bec, &amp; ni biu-sa oca idnaide acht
      tecoisc-siu dam-sa cia airm itá Emain. Is cían uait, ar a
      mathair, airm in-das-fil. Sliab Fúait etrut &amp; Emain. Dobér-sa
    ardmes furri amne, ar esium.</p>
    <br />
  </div>
</div>
<div id="ftr" align="center">Copyright (c) You 2003</div>