<div id="jobs-sub-nav">
  <div id="jobs-sub-nav-menu-page">
    <ul>
      <li><%= link_to "<span>Users</span>",admin_users_path %></li>
    </ul>
  </div><!--menu-page-->
</div><!--wrapper-menu-page-->

