<div id="jobs-sub-nav">
  <div id="jobs-sub-nav-menu-page">
    <ul>
		  <li><%= link_to "<span>Databases</span>", biodatabases_path %></li>
  		<li><%= link_to "<span>Database Groups </span>", biodatabase_groups_path %></li>
  		<li><%= link_to "<span>Fasta Files</span>", fasta_files_path %></li>
  		<li><%= link_to "<span>Database Types</span>", database_types_path %></li>


    </ul>
  </div><!--menu-page-->
</div><!--wrapper-menu-page-->

