<div id="jobs-sub-nav">
  <div id="jobs-sub-nav-menu-page">
    <ul>
<%
      css_class ={controller_name.to_sym => "selected"}

      link_text ={}
      link_text[:fasta_files] =  "<span class=\"#{css_class[:fasta_files]}\">Fasta Files</span>"
      link_text[:biodatabases] =  "<span class=\"#{css_class[:biodatabases]}\">Databases</span>"
      link_text[:blast_results] =  "<span class=\"#{css_class[:fasta_files]}\">Blast Results</span>"
%>


  		<li><%= link_to link_text[:fasta_files], fasta_files_path %></li>
		  <li><%= link_to link_text[:biodatabases], biodatabases_path %></li>
  		<li><%= link_to link_text[:blast_results], blast_results_path %></li>


    </ul>
  </div><!--menu-page-->
</div><!--wrapper-menu-page-->

