  <div id="l-col" align="center">
    <h4 align="center">Menu</h4>
    <%= link_to_unless_current "My Profile", profile_path %> <br />
    <a href="#">My Activities</a><br />
    <a href="#">My Files</a><br />
    <a href="#">Help</a><br />
    <br />
    </div>
  <div id="cont">

