    <div id="wrapper-menu-page">
    <div id="menu-page">
      <h3>Menu</h3>
      <ul>
        <li> <%= link_to_unless_current "My Profile", users_path %> </li>
        <li> <%= link_to_unless_current "My Activities", '/activities/'%> </li>
        <li> <%= link_to_unless_current "My Tools", '/activities/'%> </li>
      </ul>

      <h3>Running Jobs</h3>
      <ul>
        <li><a href="#">Completed Jobs</a></li>
      </ul>

    </div><!--menu-page-->
  </div><!--wrapper-menu-page-->
