    <div id="wrapper-menu-page">
    <div id="menu-page">
      <h3>Menu</h3>
      <ul>
        <li> <%= link_to_unless_current "Edit My Profile", edit_user_path(@current_user) %> </li>
      </ul>

      <h3>Jobs</h3>
      <ul>
        <li> <%= link_to_unless_current "Running Jobs", jobs_running_jobs_path  %> </li>
      </ul>

    </div><!--menu-page-->
  </div><!--wrapper-menu-page-->
